<p style="color: green"><%= notice %></p>

<h1 class="text-2xl mx-auto py-4">Book Quotes</h1>

<%= render 'form', quote: @quote %>

<%= turbo_frame_tag 'quotes', class: "p-4" do %>
  <% @quotes.recent.each do |quote| %>
    <%= render quote %>
  <% end %>
<% end %>
